*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #7989a0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.page-layout {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 65px 25% 1fr auto;
  min-height: 1000px;
  width: 100%;
}

/*Sidebar navigation*/
aside {
  background: #364052;
  color: #a0abbf;
  display: flex;
  flex-direction: column;
  grid-row: 1 / 4;
}

nav {
  padding: 20px 0px 10px 0px;
}

.sidebar-sec {
  border-bottom: 2px solid #2f3949;
  border-top: 1px solid #525f75;
}

h3 {
  color: #65748d;
  font-weight: 600;
  padding: 5px 20px;
}

nav ul {
  flex: 2;
  list-style-type: none;
  padding-bottom: 10px;
}

nav ul li {
  color: #a0abbf;
  font-weight: 600;
  padding: 12px 20px;
  text-transform: uppercase;
}

nav ul li:hover {
  color: white;
}

nav i {
  font-size: 14px;
  padding-right: 10px;
  width: 25px;
}

.fa-angle-down {
  font-size: 12px;
  padding-left: 3px;
}

li.active {
  color: white;
  background-color: #2f3949;
  border-left: 4px solid #16a4f6;
}

li.active i {
  color: white;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
}

.profile img {
  border-radius: 100%;
  height: 90px;
}

.profile a {
  color: #a0abbf;
  margin-top: 18px;
  text-decoration: none;
}

.profile a:hover {
  color: white;
}

.filters {
  border-bottom: none;
  padding-top: 20px;
}

fieldset {
  border: 0;
  padding: 0;
}

.filter-item {
  font-weight: 600;
  padding: 15px 20px 10px 20px;
}

.filter-item:hover {
  color: white;
  cursor: pointer;
}

label {
  padding-left: 5px;
}


/*Top-bar*/
header {
  background: white;
  border-bottom: 2px solid #e3e8ec;
  display: flex;
  position: relative;
}

header .fa, header .fas {
  color: #888c91;
  font-size: 18px;
}

.header-icons {
  align-items: center;
  border-left: 1px solid #e3e8ec;
  border-right: 1px solid #e3e8ec;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  max-width: 65px;
}

.header-icons:hover {
  background: #16a4f6;
  color: white;
  cursor: pointer;
}

.header-icons {
  color: #16a4f6;
  font-size: 13px;
}

i.fa-caret-left {
  position: absolute;
  font-size: 12px;
  top: 27px;
  left: 15px;
  color: #16a4f6;
}

i.fa-search {
  color: #b6b6b6;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 10px;
}

i.fa-cog {
  display: none;
}

.fa-search:hover {
  background: none;
  color: #b6b6b6;
}

.header-search {
  align-items: center;
  border-left: 1px solid #e3e8ec;
  border-right: 1px solid #e3e8ec;
  display: flex;
  flex: 5;
  height: 100%;
  justify-content: center;
}

.search-box {
  border: none;
  outline: none;
  padding: 10px 20px 10px 2px;
  width: 100%;
}

input::placeholder { 
  color: #b6b6b6;
  font-size: 14px;
}


/*Heading for main content about job*/
.page-header {
  display: flex;
  padding: 40px 40px 30px 40px;
}

.title-location {
  display: flex column;
  flex: 3;
}

h1 {
  color: black;
  flex: 2;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 0px;
}

.location {
  color: #b6b6b6;
  flex: 1;
  font-size: 13px;
}

.location a {
  color: #16a4f6;
  text-decoration: none;
}

.location a:hover {
  text-decoration: underline;
}

.location i {
  color: #b6b6b6;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 8px;
}

.job-actions {
  flex: 1;
}

.job-btn {
  background: none;
  border-radius: 100%;
  border: 1px solid lightgrey;
  color: #888c91;
  font-size: 14px;
  height: 32px;
  margin: 5px;
  width: 32px;
}

.job-btn:hover {
  border-color: #16a4f6;
  color: #16a4f6;
  cursor: pointer;
}

.job-btn i {
  background: none;
  font-size: 13px;
}

.job-btn i:hover {
  color: #16a4f6;
}

.overflow-btn {
  border: none;
  display: none;
}

i.fa-circle {
  color: lightgreen;
  font-size: 10px;
  padding-right: 3px;
}

i.fa-circle:hover {
  color: lightgreen;
}

.open-btn {
  border-radius: 25px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  width: 80px;
}


/*Page tabs*/
.tablink {
  border: none;
  color: #888c91;
  font-size: 12px;
  font-weight: 600;
  margin-right: 50px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.tablink:hover {
  border-bottom: 2px solid #16a4f6;
  color: #16a4f6;
  cursor: pointer;
}

.tabs {
  padding: 10px 40px 0px 40px;
}

.tabs :first-child {
  border-bottom: 2px solid #16a4f6;
  color: black;
}

.fa-sort-down {
  display: none;
}


/*Charts section*/
.job-stats {
  background: #edf2f8;
  border-top: 3px solid #e3e8ec;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  padding: 20px 40px;
}

.circle-charts {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-column: 1;
  grid-row: 1;
  justify-content: space-around;
}

.chart {
  flex: 1;
}

svg {
  height: 200px;
  width: 200px;
}

svg:hover {
  filter: brightness(115%);
}

.chart-text {
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  fill: #364052;
  font: 11px;
  transform: translateY(0.25em);
}

.chart-number {
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  font-family: 'Titillium Web', sans-serif;
  font-size: .65em;
  font-weight: 500;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  font-family: 'Roboto', sans-serif;
  font-size: .25em;
  font-weight: 400;
  text-anchor: middle;
  text-transform: uppercase;
  transform: translateY(0.7em);
}

.circle-chart-total {
  grid-column: 1;
  grid-row: 2;
}

.bar-chart {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.bar-chart img {
  width: 425px;
}

.bar-chart-total {
  grid-column: 2;
  grid-row: 2;
}

.totals {
  margin: auto;
}

.totals p {
  background: white;
  border-radius: 25px;
  border: 1px solid lightgrey;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px 15px;
  text-align: center;
}

.divider {
  background: #edf2f8;
  display: flex;
}

.hr-line {
  border-bottom: 1px solid lightgrey;
  margin: 8px;
  position: relative;
  width: 100%;
}

.hr-icon {
  background: lightgrey;
  border-radius: 100%; 
  border: 1px solid lightgrey;
  color: white;
  font-size: 22px;
  height: 25px;
  position: relative;
  top: 3px;
  width: 24px;
}

.hr-icon:hover {
  cursor: pointer;
}


/*Job description table*/
.job-desc {
  background: #edf2f8;
  display: flex;
  width: 100%;
}

.job-details {
  align-self: stretch;
  padding: 40px;
}

.table-surround {
  background: white;
  padding: 0px 30px 0px 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px lightgrey;
  box-sizing: content-box;
  position: relative;
  z-index:1;
}

.table-surround:before {
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:68px;
    content:"";
    background-color: #6f7e95;
    border-radius: 3px 3px 0px 0px;
}

table {
  -moz-border-radius:3px;
  background: white;
  border-collapse: separate;
  width: 100%;
}

th, td {
  line-height: 1.5;
  padding: 25px 0px;
}

td {
  border-top: 1px solid #d2dae2;
}

td.no-border {
  border: none;
}

th {
  background: #6f7e95;
  color: white;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

th.field-data {
  padding-left: 20px;
  cursor: pointer;
}

i.fa-pencil-alt {
  padding-right: 5px;
  cursor: pointer;
}

td.field-name {
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
}

td.field-data {
  color: #596679;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.share-job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px;
  padding: 40px;
}

.social-btns {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.social-btn {
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 3px lightgrey;
  color: white;
  font-size: 13px;
  font-weight: 600;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.social-btn i.fab {
  font-size: 18px;
  left: 25px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.fb-btn {
  background: #4a6fc2;
  position: relative;
}

.fb-btn:hover {
  background: white;
  color: #4a6fc2;
}

.tw-btn {
  background: #00aaef;
  position: relative;
}

.tw-btn:hover {
  background: white;
  color: #00aaef;
}

.li-btn {
  background: #0381bd;
  position: relative;
}

.li-btn:hover {
  background: white;
  color: #0381bd;
}

/*Areas for copying and sharing links*/
h4 {
  color: #596679;
  font-size: 16px;
  margin-bottom: 15px;
}

hr {
  background-color: #d2dae2;
  border-color: #d2dae2;
  border: none;
  color: #d2dae2;
  height: 1px; 
  margin: 15px 0px;
}

.share-link p {
  color: #798393;
  line-height: 1.5;
}

.share-link .fas {
font-size: 14px;
padding-right: 8px;
}

.inp-btn {
  height: 40px;
  margin-top: 15px;
}

.link-input {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: none;
  box-shadow: 1px 1px 2px lightgrey;
  color: #798393;
  height: 100%;
  overflow: hidden; 
  padding: 15px;
  text-overflow: ellipsis;
  width: 245px;
}

.link-resume {
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 2px lightgrey;
  color: #798393;
  height: 100%;
  padding: 15px;
  width: 100%;
}

.copy-btn {
  background: #47bac1;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
  box-shadow: 1px 1px 2px lightgrey;
  color: white;
  height: 100%;
  width: 55px;
}

.copy-btn:hover {
  background: #16a4f6;
  cursor: pointer;
}

/*Checkboxes*/
.color-box {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: green;
     color: #666;
     top: 2px;
     height: 12px;
     width: 12px;
     border: 0;
     border-radius: 2px;
     cursor: pointer;     
     margin-right: 2px;
     outline: none;
}

#design {
  background-color: blue;
}

#executive {
  background-color: red;
}

#hr {
  background-color: purple;
}

.color-box:checked::before {
     position: absolute;
     font: 12px/1;
     left: 2px;
     top: -1px;
     content: '\02143';
     transform: rotate(40deg);
}
.color-box:hover {
  border: 1px solid #f7f7f7;
}

.color-box:checked {
   color: white;
}

.color-box:checked + label {
  color: white;
} 



/*Responsive design*/
@media only screen and (max-width: 1300px) {
  aside {
    display: none;
  }

  i.fa-caret-left {
    display: none;
  }

  .page-layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 65px 25% 1fr auto;
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {

  .job-stats {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }

  .circle-charts {
    justify-content: center;
    padding: 0px 150px;
  }

  .chart {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .circle-chart-total {
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 40px;
  }

  .bar-chart {
    grid-column: 1;
    grid-row: 3;
  }

  .bar-chart-total {
    grid-column: 1;
    grid-row: 4;
    padding-bottom: 20px;
  }

}

@media only screen and (max-width: 925px) {

  .page-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .circle-charts {
    padding: 0px;
  }

  .tabs {
    padding-left: 30px;
    padding-right: 30px;
  }

  .tablink {
    margin-right: 20px;
  }

  .job-desc {
    flex-direction: column;
  }

  .job-details {
    align-self: stretch;
    padding: 40px;
  }

  .share-job {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
    padding: 40px;
  }

  .social-btns {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .social-btn {
    margin-bottom: 20px;
    width: 31%;
  }

  .share-link {
    padding: 20px 0px;
    text-align: center;
  }

  .share-link p {
    font-size: 14px;
    margin: auto;
    padding: 15px 0px;
    width: 400px;
  }

  .link-resume {
    width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .header-search {
    flex: 1;
  }

  .tabs :not(:first-child) {
    display: none;
  }

  i.fa-sort-down {
    border-color: white!important;
    color: black;
    display: inline-block;
    padding-left: 3px;
  }

  .job-options :not(:first-child) {
    display: none;
  }

  .job-btn {
    width: auto;
  }

  .overflow-btn {
    display: inline-block;
  }

  .overflow-btn i {
    font-size: 16px;
    padding-bottom: 20px;
    width: auto;
  }

  .title-location {
    flex: 1;
  }

  svg {
    height: 150px;
    width: 150px;
  }

  .job-stats {
    padding: 10px;
  }

  .chart {
    margin: 0px;
  }

  .social-btn {
    height: 65px;
    width: 32%;
  }

  .social-btn i.fab {
    display: block;  
    margin-bottom: 5px;
    position: static;
    text-align: center;
    transform: none;
  }

  table {
    font-size: 11px;
  }

  th, td.field-name, td.field-data {
    border-right: none;
    vertical-align: top;
    white-space: normal;
  }

  td.field-name, th.field-name {
    border-left: none;
    padding-left: 10px;
  }

  .share-job {
    padding-left: 30px;
    padding-right: 30px;
  }

  .job-details {
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media only screen and (max-width: 500px) {
  header {
    background: #16a4f6;
    height: 50px;
  }

  header :nth-child(3), header :nth-child(4), header :nth-child(5) {
    display: none;
  }

  i.fa-cog {
    display: inherit;
  }

  i.fa-search {
    padding: 0;
  }

  .header-search {
    justify-content: flex-end;
  }

  header .fa, header .fas, .header-search, header .fa-stack {
    border: none;
    color: white;
    font-size: 22px;
  }

  .header-icons:hover, .fa-stack:hover, .fa-search:hover {
    color: white;
  }

  .page-header {
    padding: 20px 30px;
  }

  h1 {
    font-size: 20px;
  }

  .search-box {
    display: none;
  }

  svg {
    width: 100px;
    height: 100px;
  }

  .bar-chart img {
    height: auto;
    max-width: 90%;
    width:auto\9; /*IE 8*/
  }

  .social-btns {
    flex-direction: column;
    width: 100%;
  }

  .social-btn {
    height: 50px;
    width: 100%;
  }

  .social-btn i.fab {
    left: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }

   .share-link p {
    width: auto;
  }
}




















